@font-face {
  font-family: 'erduufont';
  src: url('//at.alicdn.com/t/font_153770_qxdb439a27p.eot?t=1543474991895'); /* IE9*/
  src: url('//at.alicdn.com/t/font_153770_qxdb439a27p.eot?t=1543474991895#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABpUAAsAAAAAJvQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8ykwSY21hcAAAAYAAAAEIAAADOjLJoOlnbHlmAAACiAAAFL8AAB1YeHdy0WhlYWQAABdIAAAAMQAAADYUqqQIaGhlYQAAF3wAAAAgAAAAJAkeBONobXR4AAAXnAAAABsAAACEhgb//2xvY2EAABe4AAAARAAAAERdgGbKbWF4cAAAF/wAAAAfAAAAIAFGAdVuYW1lAAAYHAAAAUwAAAJ5gOCWYHBvc3QAABloAAAA7AAAAUZbTXSWeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkEWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeMbziZ27438AQw9zIcAUozAiSAwDmwQxbeJzt0slxwlAQhOFfArGIRey7DdyJwlE5DAfhk3MgnTmQBO5RU+Uk/FQfJb0ST1PTA1RAR27SheKHglzf2i3a/Q51u9/lU881A0rKOMU17o/m+YTg7/61Cr330V6wYs2OIxvtnjgw5Y0xE7bMWLLXuaW+UdHTyUP9b0TDOxfm9Flw1mE9/tc4f4qv19Mlu27qL1GYOk2Upp4THVP3ia4pB6KyTDh6pmyIviklYmDKixiakiNqy4piZEqTGJtyJSamhImpKWuiMaVOzCynLuZG1r6wnMpYWk5prIysd21kjRsja9xaTmzsjKxxb+T3D6YZI47W9vNkZC1XI/txN80ij8Y4/wKap1RweJyNWQuUHGWVrvv/VfXXq7u6urqr+jHdM9013T2Z9/Srkkwyj8wkIUOAZHhpHjKCikYHhCPLWwLyEIIRjxKBKERA1hVdEsBdgZMQouByFF0fRwE9JrtnHwr4WNxV9yxT7P2rZsbAHj2brrn/o/7H/e9/73fvrQgg4D86SY4IeUFQod2slpkK1bKcclWQU07dV8Gpt5s1MgCaaue04A/Bf2vZlAYs+IOGbVBB1XK2CteBomIZ/BFLO6sFfwz+qGWxXwn+i8/j2wjCm0fpHJ0QdMEVVgkCDEJtDPwiuHGgcWBYweYg0HK16beTWKthb8pxnThUa2RxrCwwmQhb5wmZ3xrR9iaATe2IGil18wmdPnDVVQ/QD1yg0nRWfRnEb91557dEO/hFUYOu5Wlb52FseV5708K7kzntdBi8CGfi/FWHr9RzFtXAuB3n4gr7g3uz/BgCyuzNw/QbdFLoFwQJuWpFjCJvdX8MD8Vkb/lkKZnJqU7q1MeAPnn3YF169eChV0Xx1UPbZg1Vz8TWb973nCg+tw/3aAypGiUPoXTBeGDlLTPRuIOvShU5k1WlLuQhGrv+2rqW1Yh4SEvmkB8R+TlBD6B4W8KYsFHYglyVh6DabNc7wW+PQr3dsppVr1SW01bKwbaTkvu48C3ksYRMWsi9x2Q6CDgHX7r/p0KEmDbH73HTJi12Ip5Mxhd2czoXkhVtgPYKsjsqf3iOdjiVz/fk8195S9GlznFNmZlRk3Ei8IkBpx1JPleI5ga8PFeFA8Bn9OThbeWS/E/QE3hePD2UZRNqg+BFFwBFPK0PoRqRE/Vt3cND3dvr83dQGM7DWruv3mfDeKEf6B1U6C4PD5Ur9I75sR0dwdO246RgXXl2Yv6OxT2Oh3usRGnKtUVVrbtFiEOt6kV6iaaxuFeNsyGj3o5juxFqNAOUWl9/8Ey43fzWdbqUyBoja1H5igVY43a7sDbdDaiI3VP5m7nt3FJ55zBndagj+EZ/F/TCVMgOHVKyjsg8HNm/xguecTMwkd4wiOvkMjdzG7yl5C2e4mjfIu+/If9IE4LFNaGGmuADv0W0bH6VB2wzOBCPw5xZLcSDYzAWLyTClglz8ULVDI4Fx/CVIIXYcJTyQhWywgrhbFzcGwv1p1yF0ls1CAXDLKyWsMvCV1DGa/EjKyiGFS5AnMqFh49cxfe1qAETE9Dd7saHzCzsGpkCmBoh+8JyYZVTBCg6ZF9ULtwpSYZBybYduYF0vtlpJjVj4w6uTf5AXO0Z6J3usCspGBrXqEWEPF+zO8jz9Zxo3YVXRqbI03ylVxZXdrBceBokJ2bdq4LGVFUk5XL9AtHOJ2FlozKtyoYmKyBdUNYNgcvlzWfo03Q8xLGMUBIGsfPPYBlblpddrqIZ4j2gEaJmHH5Dkt44HNH7XxTFF++P6PCipg+FppEcWx50+A3qL4+6/8UvR0YVTCfj0BUaE5qlQJYxtlsYjhA2YqYAHoI6Gn8aQb29FhoI6tU+WIvq+hbW5yKspI/fGtr3buQhqtz6ePBAhIwhhRMRKn7imEkmcFDIQhdWJoh57NNLo5AKIU8cn7qEgRD1q82RKsLTEAyPIAcRV2zZgpGTZrXmL7LZ5LJc4o/eB4RQQiWZhRC0566BXWsiNpDW++/F7Y+etDVlOJxKnOCbW8qVaCDS9VcN7bmSL3FUDNacdKrQR32Ufo5ej/faEK4VhAplaNlxMKFsEtRjbt+diDEVmUOshyocHoXKjusj3DqNuk8dLJce3lcfh3bDbyMNH8SINk5q1SIpLD5lxI+3PS7dt0cVaVnNmZOSqE28Uynq03JMuiGRCD4eL8ZWS9KkmVM8Kib3SmbiRlOZVuOW+qwEFAxfY55iThr6ajkuj6napKl4TPMNZLUo4/P2Iat1409DQCoyloM+iYjtGGoFkW4/Fqex8xRGxcyTOJ1QiMdaEtGD78YzIBnnGQmyXTcm4kqZaS2+SYHSThE3aelyWYlPGPrKWGylboybzJO1tgEE+JCCjBWjrckeM8cNfZURi+KEe+hvaV5whALqsQDtP4UCDF0aF7I7DtJQqLQS49rh0sE+QN+IHrIj+9iB9Av9w6tbP0gfWDCNa3YVTx+Cz+s3DWzOXwHWaTsjL9rYueJR577vGMkf3Odsv1bfVRtNwrU3pcZ7rkC8Y8hDvyjQfrTxMmrCGmG9cIbwTuQFww9HcNuCX0XfU60xf9l6Qq/guLLkIq8nRwChjnN7cznhDZeT0AQbyzUivBQcl2UovfQylCQpOB4czPRlduTrbaCfueiCT9lG7LxrKDADLkudYvfYc9cQcs3c9t2ksfA7K5st2/YTiVSqlMtdbFiWgdW9umXplm3Tflzs5ZeD45IEpZdx8YVLFWlwi7fNP/86Au+fBXL5tkIedk71SAqZn529iJCLZgdOh4dSJVwvtSkq9iRdy3KTEQ1t+ji9H2OglNCFUqlh3Agyo7LLL6eCLrhd5Z0Y+wCzwaV3/UHNq0GLkTFqaAYqRkVl8DMVAutqHiZe8v0G/O3zZP3rqhqsYGrwNctQYZIw+LWWDSau1FJZ7eIhsOCJZyP8nadHyash/pYwCqv/efyFJfitlXjNHYnjrUmO6JfKiMELorhw+AiH1yOHfiWKvzr06GuS9FpwI9TW9PSsqQGkoGe0BzgJDnfCYz3B+jM+jYOjKUfeoDvCOaL42qOHfhW8XuSTakUsisVa7d5/kX7Jfad0ki65whBqUxM7q0INlQhVSRbewq9X9dsNDHmZ7PIqYkWtWpNdO+21GkQ46Ra5irwcxYghDf5zgo71rr1doVOb1DEaV4fk1ZJ6+vn06g0bfnTyHFyD7pdeObQ495XgmR29Zf360bWtU1v53JBc791K6YeDX27aFMUSz9MnqC9UeH7AbznO3bnbsEJS5eGlw6wGd/qctKt0f/BY146u4LGMLJNcYQRWDe0lsvNhRyZ7h1bBSCFHUMufgm2lUvBQvldXshD8fmg9gZybybjBv5H1Q6BBVtF7BWFZz8pCHO1QgEa17TeY69cYSkeWlp1Da1mEcGSU+Z+cubD/0KH+920yfwp3W8998p5vi/QrN9/3AhVfe+xL/56EicTLiQv7Dx7qv1A/54U9X6Pit+/e8830GvdfH0QFEH/8YBhT30+/Ty/EuCeHGjbAI59klUWhC57dL4UBDW7PVkEJLT9tYydKoGaFXXRvsObS+IgOxhcNcSoD13Z0w3SBiCvFhR13OVoX6SA3YnZEyhSOg3yDThvarYdooFQ6QTpTfu3r4lCCkDwJRFcDsAHe7DBgUZdulSbp1YKMMdk7hAuFDyFnyMdIuwx1TxqkYWhVRMhE/rjb8pHFluv4w3X0VSy8vMbwSKPthANNcMKRbb89gmWLV6KAbYwHdDyCa44BqmPaQfOWfXguh8zYdA4guBQyY2f0VH1HUzvzutVdMG8+y5K6ENABiOjc9q61ZHXOLzRjst75gWk7PZyvJee/UKIMxI2nQL+3dYXCJMktiQu/63DKXi/kRnoT3YR+koDF4EdpdPZQvWpk+xa1q/O0Pjuf0qx8O3XjP7d0YuPBFKmU+eBou+eKPsug3YUt1zfiZpcC2rrHd5sqiKU2gZ7G5XvdvrRpy7ngEZEqsUapo9dOOiPjWfgegCaG+vUM5nLrULvWC4KNqVIYpbphtOTifWIMgjDG0lGAknIqeNVYQUDBl80wgCkAh3e/hZINbXg+mRFf2L/z842RZCaT3IfEy8D4UxcdWZAydAxffveecz7T7Fl6iYnAxN9/EF9CBt6RSd7zXXrWZj4DMtZn+Zihc+bEhSPJzFnYsf8FcdMkuN3Y/Vkrk7HWnrldWjhiZZbyomvpPN2NKIM5i1iTu2shP60lYEQToR8yg9fPOCN43YQr3juykt7+gV23U/BHLrhcnu2jtG/20q8PbHh4atdeSvfumvryhsGvc1vgeQC8gvmEhzlmG+WUKpL6GGkOknKcpEt/oTUykSjWemvFxGIBZ/NKlberYfvct73fnf5TA4v0X24u4etRzFOi7wrdmLGdhsI4+XvCSb6Bp2uYr/MbLUJlEPWIuyjutNoYhXGLrsqM+whU/dBY8GLb6JvxelDQEX3gJVF86YGQBi+kotwUCexWMsappnkqU5OazPR8Xme+kWH29Oy0zTIZRe44/6/O75AVOrG81JGFN55dWgspfA7yqS6M7Dm5ypDlPq1b6xMTRpaZJsv+UGZGpbe3YjAjE2uNjrZi/OLFN9/kHwHIMeEc4Tzh/cIl0ekdfuEIl+5YpMGRBoSiWAxClpqtxTZKiHfwaCts130bw1qEtBE7ClFQLIvfBZYq/lKFHjeTiBjeZeWCpkpx2+5AnNC13PZyyTcME5umYazsKu/IqgY27LioaYXyZWhTkCxgU5aug79+5PA9dLck4+yFg6ph2IaxM1zJ3qqFLXIK2Katrvoc03+2GWGokErFdUucPqZqP5khdt7Gh8z8RFOPTYuWHk+lCsjE5p/ryv5Vmh01STBP+1HPKewj2A7WJbKWlU0kctVstppLRK3I7xyg/0TfjVHfmahiJX7ORgmVwW4PEjT6wRBhOaR6XJdScugX4oCvMM1DJWugDSB2jJFRaCN+yqxRLxKGrr7SsDzyi+Cg5boWbKEGfIpRu2D9MJZWVL2j0zaKipEpY7pWPHUFDHRdX+yHofKhrlUDmVRPvUMdmLIsJXtTdWKFbH5Kqy/MX3n5ea7nKhS2JMoFPEiWOXdMl2PEy6wcOdcrdovBxtLgQCc8WR6GzODqrpUdjR6HNBsrbxvtnpjxgkdz3lb4u8Xvc18QP4tnXi+8S7icZ2o8C2H8UIj96dDjR2kjmgemsn7D4e7C4rbChkcincGzRvaEemVhJjcsVePoQIoQiogblB99MRm2canaW18SXG6YzGuOWvVGtk6IX6kXs7CuPmw5jjWccECzHjFOPb/Sme3YtjFmOakEGd000FnSTUXRDUODIbNoqvHzL774/LjK5GRKvewmgJsuk1ZsnTYLpmrWV66smyqT7JQy3UN3SIQV8t2rK9DdNRh8dWQSnJLjJOBMIwu0uiGXWRhJuRur1OlKk+5RL9+hUck26CVGUlqnqIWi0nz8pcebSjGu6dLYix+74cWxhRfX7b+hxPAdy22/eHuOFeO6BlJpQliU7930eXopxlJ1zCgEO8KlSD24N3a4aNzI7YbhRQ3BqHISejF06VEqUftO4Zq0/sjIgfvs4fp7T5nWpVy6dVp2fvbbW3dO5XPXTq+TnOaDIrmxOQ0w3WysB1jfgHRHR28+n4YfKwXpy3cpPdc3Lzy+c2zKjClEXZ35wtnrrMy+bad+cPXmK9zByTsbyxNxkYehY0UHPsC/FL+5n/4PxkYVjGZXCePCjPAeYRfizmXC1cInhIeFJ4Tn0ZdNwBXwcbgNboe98BB8CZ6Eo/BN+Ac8NyLt/+vcEbSw1vKhabPmOcytMt9jDdYeJw2f+Q0MkmXPhAbjnR7znXHwXJby2DjBnrpfC3sb6ZTnN2SsjuPQhu+h/vq838dxfHaVi5mHRG3MMMcRO3Ggt9h2/apf4d+hOb9l7lDbDYwR0ixlQrnlN5nMyvzTYBoNxpNrfhUnttp8kNMKKb5INZCxNhrHUr3ZcOu8jhOabY/Vqm1cCY0rlAlKgY8mKaS4TcOvmyQlD0F1HOrRynU+jMmj4CAG8ZgklQ7zBiZjxlDlJVpTq+o3kaeajyCFb7l9cftNVxoe/iSvjPujVSNXuLaH2IX7joLE5YYM1lBidYd//+hD3MJt2pUSK/n49zdufZ26p+e6j5q1ni2r24qUtnrH7HMn75+caaXT72m3qNV7AyXrV/j+bLu9IuFw07JmWFoGlZBYhcQT6bR4Si/plVQjSa34BrEi9pIVYknfkKXMUyW9In9VHtd7XVp1iStRl1VyINqxpOqptl4UoUhO6yN2+DuFlBjmlAQSskYSqt75LrJTEc8QkxItk4KpZ0hBDk5LAhXRL+pESUgADfTZkoyTGANQiKgBembMPIhCLB3AJCISkChIIAMkAPMu/KGmYIXJQDBBlUXAkcRMEFBUjHpFWYolgBKNEgcolCgdhRiujqGsyKeRLkoVoJqmGhh9KviHfCTSlKTjhBAZUyCZEZGASvkEuI1KRGXBU99ixGaXUeKLhtS8krE0qOxn0EoRh79IyxmmYKKqsc7gt0mSxP0qwe8IxHLBlwi8A94jG4lbrpI739c7++imeiumMaIM2tdPN2Opy09Zc/bQmvPsSvPyEdKe5VdFbg1BsOQAqJaVjp8D9DRru6Kn2xYeQ7QZ8ptwEVNyvYmMDp7fO57uMNIqYZ2yPA2NxpQsJ26y46gyCUhUqE5jFIrxhK5Y2CXC6lyuQ4/LliXH9Y5ZFAZGCTYjWs6AlYRiCxRKVIUAimEjCpxMo/RJJs9pkY8WcyjxYcKrEibopIwCE7sB2+JZJsGhhCQLOqFm2eJ5CB/GOyXiUmxMYh+UPYI3B4aOwyHpJbCKSZaCV6ljOILJA7UdSKXxUnF5xO94jBAXt11nsi8yIKOyKq5S5ceZYj7OHpJxQlg3Mdv6gbkYj96DueNWjCIkQUGMnENfmvb7oBNaXhRXOh6HOJmF/q+Tu9dF6krcpyLSIRoiAvKPjdVWLaq0/bDHldr+Uo9bq/L0DHNPumX3gYmJ3XOXpmc2plIG/Lx7Jq3QUvdMj+1JhmqnyiWktgcjV/x+Yz8ZaK56di74ns7iGePe2ImwfF5NBK+GNejIFr9pyLGs8R/rpjbLcibLPu+JdOuBubm5iXQ51TPTndmdSnmmmUylNs6kqWZ6M05Sj3fPOAcnpz5y+sObg5/ubDUPsqzL2Pae3usx/mXsI52FA1iR5Qez1iUKr+yJOR8zMnGmB78ZvW3x/7J+QU/QOZRdAzMN/r3YNWHxlKG7WBbLEPxZsdiNtNvy6Nzu3QfXKFpXSb93OD059ehs8D1TSZYSN0rwUkJLla2nmBL8PqHZngUp03rMVOxS4teNG1GMdG5i7okLrVJSMYPfzj46vS4zeFArd6nKqW7mo1q5pKnztnW35pVU9UDceL9W6tKUW1FVUD54jP8F+/YHsAB4nGNgZGBgAOK8ZVfa4vltvjJwszCAwA3VDfow+v///zqsjsyNQC4HAxNIFABK1wvUAAAAeJxjYGRgYG7438AQw+r4/z8DA6sjA1AEBSgCAIFSBQx4nGNhYGBgoTJmdcQizvj/P5g+gikHAHEnA4oAAAAAAAA2AJoA4gFaAYwB6gIOApoC6AMyA4gESgSMBRwFWgWyBhAGUAaMBtgHgAfmCBIIYgjiCYwKBgq2CxoNqg5IDqx4nGNgZGBgUGQ8ySDNAAJMQMwFhAwM/8F8BgAh7QIdAHicbZG7TsMwFIb/9IaaCoYiGMELDCCllwWpI5Xaga1D9zZx0lZJHDlOpT4Cz8Mz8ATsbDwDK39TN0NpLB995/M5tiMD6OIbDg7fDeeBHbSZHbiGC9xZrtM/WG6QPctNdPBiuUX/atnFM94sd3CNLXdwGm1mT3i37PAOH5ZruMKn5Tr9l+UG+cdyE7f4tdxC17m07GLu3Fvu4NEp3LGWCyMDsdyJta/SUKXGlTooij3NZFTEC13lFcylztcqFQOvX7mpTKU+7pVvo6ExoQi1SsRk3xrHSmRabaRvvJUx2ajXC633fJXwamNoSCxgGAMILLFjXMOHQoqwjIZ1knUBCo6jm9FFzGN26zPr/828dDl33+cCAz5T/0zdlC4t/em9cj5UhCGtYbXg1OxJSJPq1JhD0WTl2obGp/ewKrsyjNDjCE/qvfKPkz++THMOeJxtjllvwjAQhD05nIQWet8nfecB/lC1cTaJi2MjJyiUX19Dnyp1pF19o1mNVkTiVxPxv+aIECNBCokMOQpMcIJTTDHDGc5xgUtc4Ro3uMUd7vGARzzhGS94xRveMceHSJVxPefGKRq0s7Jn8qrNlOs6tkNu9JprbUxygKQktY43WiXa1k7W3JHh5LAKGslXi1Hb9EhyZL0LZvR64HynyRlNNivJNvt2K8N88zLtW/Kc7slyVRx5Qd7Lwdmm3EZdaHYh5s59aRmaLfs43GZNyBtyWMnV4MIzU62c/WzJVsrQZvbHLYX4AZqdUXc=')
      format('woff'),
    url('//at.alicdn.com/t/font_153770_qxdb439a27p.ttf?t=1543474991895') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_153770_qxdb439a27p.svg?t=1543474991895#erduufont')
      format('svg'); /* iOS 4.1- */
}

.erduufont {
  font-family: 'erduufont' !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ed-close:before {
  content: '\e605';
}

.ed-location:before {
  content: '\e611';
}

.ed-search:before {
  content: '\e612';
}

.ed-comment:before {
  content: '\e610';
}

.ed-likefill:before {
  content: '\e613';
}

.ed-like:before {
  content: '\e614';
}

.ed-back:before {
  content: '\e621';
}

.ed-pic:before {
  content: '\e615';
}

.ed-info:before {
  content: '\e616';
}

.ed-female:before {
  content: '\e617';
}

.ed-male:before {
  content: '\e618';
}

.ed-award-win:before {
  content: '\e60a';
}

.ed-award:before {
  content: '\e60b';
}

.ed-weixin:before {
  content: '\e608';
}

.ed-write:before {
  content: '\e619';
}

.ed-xiaolian:before {
  content: '\e60d';
}

.ed-bangzhu:before {
  content: '\e61c';
}

.ed-zhuye1:before {
  content: '\e6bd';
}

.ed-share:before {
  content: '\e60e';
}

.ed-zaned:before {
  content: '\e600';
}

.ed-share-arr:before {
  content: '\e601';
}

.ed-tongbu:before {
  content: '\e604';
}

.ed-me:before {
  content: '\e60c';
}

.ed-more:before {
  content: '\e602';
}

.ed-emoji:before {
  content: '\e60f';
}

.ed-winner:before {
  content: '\e607';
}

.ed-zan:before {
  content: '\e603';
}

.ed-gonggao:before {
  content: '\e606';
}

.ed-2:before {
  content: '\e609';
}

.ed-2topic:before {
  content: '\e61a';
}

.ed-icon_handclap:before {
  content: '\ea0f';
}

.ed-icon_handclap1:before {
  content: '\e61b';
}
